.row {
    child-space: 1s;
    col-between: 20px;
}

button.dec {
    background-color: rgb(150, 40, 40);
}

button.inc {
    background-color: rgb(40, 150, 40);
}

label.count {
    child-space: 1s;
    border-width: 1px;
    border-color: #808080;
    border-radius: 4px;
    width: 50px;
    height: 32px;
}